body{
   
   
}
#side_left{
    
    float: left;
    background: #767171;
}
#side_left_top{
    background:black;
    width:300px;
    height:70px;
    
    font-style:inherit;
    font-size:30px;
    text-align: center;
    line-height:20px;
    
}
#headline{
    color:white;
}
#side_left_bot{
    width:300px;
    height:900px;
}
#side_right{
    
    float:left;
    width:1585px;
}
#side_right_top{
    height:70px;
    
    background: #3B3838;
}
#side_right_bot{
    height:900px;
}
img { 
    margin:20px;
    width: 35px;
    height:31px;
    object-fit: cover;
    float:left;
}
#loginbox{
    float:right;
}
ul{
    
    width:280px;
    list-style-type: :none;
    margin-top:50px;
    
    padding:0;
    font-weight:bold;
    color:white;
}
.sidebar{
    display:block;
    width:280px;
    height:50px;
    padding:10px;
    text-align:center;
    text-decoration: none;
    font-weight:bold;
}
a{
    display:block;
    text-decoration-line: none;
    color:black;
    height:50px;
   
}

.sidebar:current{
    background-color:azure;
    color:white;
}
.sidebar:hover:not(.current){
    background-color:lightgray;
    color:white;
}
.sidebar_img{
    margin:1px;
    width:30px;
    height:30px;
}
#mainpage{
    position : absolute;
    bottom:0;
}